@using CardBouncer.Frontend.Extensions
@model SelectionViewModel

@{
    ViewData["Title"] = "Selection";
}

<h1>Available Cards</h1>
@if (Model.Cards.IsNotNullOrEmpty())
{
    @foreach (var card in Model.Cards)
    {
        <div class="jumbotron">
            @card.Name
            <div class="lead">
                @card.PromotionalMessage
            </div>
            <div class="badge">
               APR: @card.Apr%
            </div>
        </div>
    }
}
else
{
    <h3>No credit cards are available.</h3>
}


